@charset "UTF-8";

/* 컨텐츠 */
/* aside */
/* aside 박스 띄우기 */
#contents #aside {
	float: left;
	width: 148px;
}

/* aside 마우스 올렸을때 */
#contents #aside ul>li:hover {
	font-weight: bold;
	color: #000000;
}

#contents #aside h2 {
	font-size: 20px;
	font-weight: bold;
}

/* 쇼핑정보 */
#contents #aside .snb-list1 {
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 15px;
}

/* aside li 패딩 조절 */
#contents #aside ul>li {
	padding: 10px 0px 0px 0px;
	font-size: 15px;
	color: #aeaeae;
}

/* 내정보 */
#contents #aside .snb-list2 {
	font-size: 15px;
}

/* content-area */
/* content-area 박스 띄우기 */
#contents #content-area {
	float: left;
	box-sizing: border-box;
	width: 850px;
	height: 650px;
	margin-left: 0px;
}

/* 관심 텍스트 박스 띄우기 */
#contents #content-title {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 3px solid #222222;
}

/* 관심 텍스트 */
#contents #content-title h3 {
	font-size: 20px;
	font-weight: 1000;
}

/* content-button 박스 띄우기 */
#contents #content-button {
	float: left;
	margin-top: 12px;
	width: 100%;
}

/* content-button 버튼들 */
#contents #content-button button {
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 7px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 20px;
	font-size: 14px;
	cursor: pointer;
}

/* content-button 첫번째 버튼 */
#contents #content-button .btn1 {
	color: #ffffff;
	background-color: #000000;
}

/* content-header 박스 띄우기 */
#contents #content-header {
	float: left;
	margin-top: 30px;
	width: 100%;
	font-size: 12px;
}

/* 전체 갯수 */
#contents #total-rows {
	float: left;
}

/* 관심등록순 */
#contents #sorting-filter {
	float: right;
	cursor: pointer;
}

/* wish-item 박스 띄우기 */
#contents #wish-item {
	float: left;
	margin-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
}

/* 상품 이미지 띄우기 */
#contents #wish-item img {
	float: left;
	width: 80px;
	background-color: #f0efef;
	border-radius: 10px;
}

/* product-detail 박스 띄우기 */
#contents #product-detail {
	float: left;
	margin-left: 10px;
	font-size: 15px;
}

/* 상품 브랜드 */
#contents #product-detail .brand-name {
	font-weight: bold;
}

/* 상품 이름 */
#contents #product-detail .name {
	padding-top: 2px;
}

/* 상품 사이즈 */
#contents #product-detail .size {
	padding-top: 19px;
	font-weight: bold;
}

/* 구매 버튼 박스 띄우기 */
#contents #btn-action {
	float: right;
	margin-top: 5px;
}

/* 버튼 꾸미기 */
#contents #btn-action button {
	width: 160px;
	height: 60px;
	border-radius: 10px;
	border: 0;
	outline: 0;
	color: #ffffff;
	background-color: hsl(4, 98%, 65%);
	cursor: pointer;
}

/* 구매 텍스트 */
#contents #btn-action .buy {
	float: left;
	padding: 20px 10px 10px 10px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	border-right: 1px solid #bbbbbb3c;
}

/* 가격 텍스트 */
#contents #btn-action .amount {
	float: right;
	height: 50px;
	text-align: left;
	padding-top: 13px;
	margin-right: 20px;
}

/* 가격 텍스트1 */
#contents #btn-action .txt1 {
	padding-top: 6px;
	font-weight: bold;
}

/* 삭제 */
#contents #btn-action #delete {
	font-size: 11px;
	color: #000000bf;
	text-align: right;
	text-decoration: underline;
}

/* 페이징 숫자 리스트 박스 중앙 정렬 */
#contents #paging {
	float: left;
	width: 100%;
	text-align: center; /* 페이징 숫자 전체 중앙 정렬 */
}

/* 페이징 숫자 리스트 띄우기 */
#contents #paging ul>li {
	display: inline-block; /* inline-block을 사용하여 중앙 정렬 가능하도록 */
	padding: 20px 2px 5px 2px;
}

/* 숫자에 마우스 올렸을때 */
#contents #paging #nums ul>li:hover {
	font-weight: bold;
}