@charset "UTF-8";

/* 장바구니 글씨 (맨위) */
#full-content h1 {
	font-size: 30px;
}

/* 내가고른 상품내용 -> 이걸로 포문돌려서 고른상품들 뽑기 */
#full-content .selectProduct {
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	margin-top: 30px;
}

/* 상품사진, 상품설명 */
.product-info {
	margin: 20px 20px 40px 5px;
}

.product-info .product-img {
	float: left;
	width: 140px;
	height: 130px;
	margin-left: 30px;
	margin-top: 20px;
	border-radius: 6px;
	background-color: #f1f1f1;
}

.product-info .content {
	float: right;
	width: 780px;
	text-align: left;
	padding-top: 20px;
}

/* 제품설명 */
.product-info .content .product-nameE {
	font-size: 21px;
	padding-bottom: 2px;
}

.product-info .content .product-nameK {
	font-size: 20px;
	color: #a1a1a1;
}

.product-info .content .modelNum {
	font-size: 18px;
	color: #a1a1a1;
	padding-top: 2px;
}

.product-info .content .size {
	font-size: 20px;
	padding-top: 7px;
}

/* 버튼 두개 (옵션, 삭제) */
#full-content .btn2 {
	margin: 30px 0px;
}

#full-content .btn2 .btnOption {
	font-size: 18px;
	width: 470px;
	height: 45px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #fafafa;
	border-radius: 8px;
	border: 1px solid #e2e2e2;
	text-align: center;
	cursor: pointer;
}

/* 구매 모달 창 */
#buy-modal {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

#buy-modal .purchase-modal {
	background-color: white;
	border-radius: 10px;
	width: 450px;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

#buy-modal .modal-header {
	display: flex;
	align-items: center;
	justify-content: center; /* 제목과 가격 단위가 정확히 중앙에 오도록 설정 */
	padding-bottom: 10px;
	margin-bottom: 20px;
	position: relative;
}

#buy-modal .modal-header h1 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	flex-grow: 1; /* 제목이 양쪽 버튼 간의 공간을 차지하도록 설정 */
	text-align: center;
}

#buy-modal .modal-header p {
	font-size: 12px;
	color: grey;
	position: absolute;
	top: 25px; /* 제목 아래로 내려가도록 설정 */
	width: 100%; /* 중앙에 텍스트를 유지하기 위해 폭을 100%로 설정 */
	text-align: center; /* 중앙 정렬 */
	margin: 0;
}

#buy-modal .modal-header .close-btn {
	background: none;
	border: none;
	font-size: 40px;
	cursor: pointer;
	position: absolute;
	right: -5px; /* 우측 끝에서 적절한 거리 */
	top: -21px; /* 상단에서 적절한 거리 */
	color: #222222;
}

#buy-modal .product-info {
	display: flex;
	align-items: center;
	text-align: left;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #dddddd;
}

#buy-modal .product-info h2 {
	font-weight: bold;
	padding-bottom: 2px;
}

#buy-modal .product-info .product-id {
	color: #b3b3b3;
}

#buy-modal .product-info img {
	width: 60px;
	height: 60px;
	margin-right: 10px;
	border-radius: 5px;
	background-color: #f0efef;
}

#buy-modal .product-info h2 {
	font-size: 16px;
	margin: 0;
}

#buy-modal .product-info p {
	font-size: 12px;
	color: #555;
}

#buy-modal .size-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* 3열 레이아웃 */
	gap: 10px;
}

#buy-modal .size-box {
	background-color: #f9f9f9;
	padding: 15px 10px 15px 10px;
	border-radius: 10px;
	border: 0;
	outline: 0;
	text-align: center;
	cursor: pointer;
}

#buy-modal .size-box p {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}

#buy-modal .size-box:hover {
	background-color: #eee;
}

#buy-modal .size-box.disabled {
	background-color: #eee;
	cursor: not-allowed;
	color: #ccc;
}

#full-content .btn2 .btnDelete {
	font-size: 18px;
	width: 400px;
	height: 45px;
	background-color: #161515;
	color: #fafafa;
	border-radius: 8px;
	cursor: pointer;
}

/* 예상금액  */
.expect-price {
	padding: 15px 15px 10px 25px;
	background-color: #fafafa;
}

.expect-price .expect-priceL {
	float: left;
	width: 140px;
	margin-left: 1px;
	font-size: 19px;
	padding-top: 5px;
}

.expect-price .expect-priceR {
	float: right;
	width: 600px;
	text-align: right;
	margin-left: 10px;
	font-size: 26px;
	padding-bottom: 5px;
}

/* 선택주문정보 */
#full-content #selectInfo {
	padding: 15px 15px 10px 35px;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	margin-top: 30px;
}

#selectInfo .total-text {
	float: left;
	width: 950px;
	margin-left: 0px;
	padding-bottom: 10px;
	font-size: 19px;
	border-bottom: 1px solid #f0f0f0;
	text-align: left;
	font-weight: 600;
}

#selectInfo .totalExpect-price {
	padding-top: 15PX;
	padding-bottom: 40PX;
	border-top: 1px solid #f0f0f0;
}

.totalExpect-price .totalExpect-priceL {
	float: left;
	width: 148px;
	margin-left: 0px;
	font-size: 19px;
}

.totalExpect-price .totalExpect-priceR {
	float: right;
	width: 600px;
	text-align: right;
	font-size: 26px;
	font-weight: 550;
}

#full-content #orderDescription {
	float: left;
	background-color: #f0eeee;
	width: 963px;
	height: 100px;
	font-size: 16px;
	text-align: left;
	padding: 20px 0px 10px 38px;
	margin-top: 15px;
	border-radius: 8px;
}

#orderDescription li {
	list-style-type: disc; /*  / 원하는 기호 입력 / */
}

#full-content .btnOrder {
	width: 1000px;
	height: 55px;
	background-color: #ee4444;
	border: none;
	border-radius: 8px;
	color: #f0f0f0;
	font-weight: 800;
	margin-top: 20px;
	font-size: 20px;
	cursor: pointer;
}

/* 버튼 그림자 없애기 */
/* outline: none; border: none; box-shadow: none; */